/* ------------------- Any global custom styles will go here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* ------------ Hero Section styles */
.hero-background {
  background-image: url("/resources/upbg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/resources/upbg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}

:global(html.dark) .hero-background::before {
  opacity: 1;
  filter: brightness(0.5);
}

/* ===== Main Scrollbar ===== */

/* (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(1, 8, 1);
  border: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background-color: #1e2939;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a7a6a7c9;
}
